<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Plantae.Core.Properties.Settings.PlantaeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Plantae;User ID=sa;Password=ibBR2631"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>