<table class="plantae-contas-table">
<thead>
    <tr>
        <th>
            <span class="float-left">Contas</span>
            <span class="float-right"><img src="../../Images/icons/add.png" class="icon" />@Html.ActionLink("nova conta", "Create", "Conta", routeValues: null, htmlAttributes: new { @class = "ajax-link", id = "novaContaLink", data_dialog_title = "nova conta" })</span>
            
        </th>
    </tr>
</thead>
<tbody>
@foreach (Plantae.Core.CONTA conta in ViewBag.Contas)
{
    <tr>
        <td>
            <div>
                <span>@Html.ActionLink(conta.Nome, "Edit", "Conta", routeValues: new { id = conta.ContaID }, htmlAttributes: new { @class = "ajax-link", id = "editarContaLink", data_dialog_title = "editar conta" })</span>
            </div>    
            <div>
                <span class="contas-saldo saldo-positivo">R$ 2.548,33</span>
            </div>
        </td>
    </tr>
}
</tbody>
</table>