@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_transacoes">
    <div id="content_transacoes_left">
        @Html.Partial("_ContasResumoPartial")
    </div>
    <div id="content_transacoes_right">
        @Html.Partial("_TransacoesExtratoPartial");
    </div>
</div>



